[{distillery,[{config_providers,[]}]},
 {sasl,[{errlog_type,error},{sasl_error_logger,false}]},
 {nerves,[{firmware,[{rootfs_overlay,<<"rootfs_overlay">>}]}]},
 {shoehorn,[{init,[nerves_runtime,nerves_init_gadget]},{app,nerves_kiosk}]},
 {logger,[{backends,['Elixir.RingLogger']}]},
 {nerves_firmware_ssh,
     [{authorized_keys,
          [<<"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDcAOr2wTghjrZTgoP8OAVF+MUrDgAW/JhuPFsebJTAaRc0QjYnUStGCWXcK1gmvSQb3sMrumFDzku5wg/AcF6++m5k6Oy1kAdL4pSZqdjqEKx61NIpSVetqb/Bw8DGHSexp/j6huk2RqsTxQy1DlRWonvaVrPMCRF1ATJduHEjuxGvgw9wbXD1QWziQQN/YClndDJ/73xNzLuqymI1mIY3L20oh4XEgdYcInbxA0MiPkWoovLggHjBB4gaMFVbrfrLZ4A31SJz1E15YrMdJxPwF8QklsrP/Zm0YzrCasb8nB2saxvldd81BkctS31w7uIHp9YjZ9uZp5DSMzogKEKKOuDw5OPCaQVhMIR6c32018xTkT9SEFz/BAQcNHMUZVdd+JS3P1WDJeXu212bgSQ6dGmamJ6qT3zggp6a+IgL5P9H6QCRuF8lIRoD1PtwTOXpwal9HY4ZEs+1tuiBdjSv3dNg/opoHubOKDl8Sht6ZxhA92nJjIZanYPp3SQGddK+nnsNGFCdEsqsgAtWKJKKZFp4QAA/RiW2mWIPbGYdJSkzlQXrWT+yqDMzzA8fzU0cmNB9bzSdqRDZW7Eop0OeAak1I5qpgBpWXr7sDgMp3GorDsEFduPzIrXG94ZuusnXT1uFp/PpdZlXFEWEkIJCJy7TqR6O7FGKP0zEqCxn+w== seanf215@gmail.com\n">>]}]},
 {nerves_init_gadget,
     [{ifname,<<"wlan0">>},
      {address_method,dhcpd},
      {mdns_domain,<<"nerves.local">>},
      {node_name,<<"kiosk">>},
      {node_host,mdns_domain},
      {ssh_console_port,22}]},
 {nerves_network,
     [{default,
          [{wlan0,
               [{ssid,<<"interwebs">>},
                {psk,<<"hackaway">>},
                {key_mgmt,<<"WPA-PSK">>}]}]}]},
 {webengine_kiosk,
     [{uid,<<"kiosk">>},
      {gid,<<"kiosk">>},
      {data_dir,<<"/root/kiosk">>},
      {homepage,<<"http://localhost">>}]},
 {phx_kiosk,
     [{'Elixir.PhxKioskWeb.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {http,[{port,80}]},
           {secret_key_base,<<"123456">>},
           {root,
               <<"/Users/sfair01/Sites/elxirconf18-nerves_touchscreen_workshop/nerves_kiosk">>},
           {server,true},
           {render_errors,
               [{view,'Elixir.PhxKioskWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Nerves.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {code_reloader,false},
           {check_origin,false}]}]}].
