<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Dexient" %></h1>
  <p></p>
</section>

<section class="row">
  <article class="column">
    Users
  </article>
  <article class="column">
    <div class="row">Desk Control</div>
    <div class="row">Power Control</div>
  </article>
</section>
